* {	border: 0;
	margin: 0;
	padding: 0;}
   
a {color: #ffffff;}

.image {width:2em;
        height:2em;
        vertical-align: middle;}
        
.logomenu {float:left;
           padding:0.6em;
           width: 4em;
           height:1.5em;}
nav {background-color: #304562;
     text-align: right;
     padding-right: 8em;}

nav ul {padding: 0;
        margin: 0;
     	  list-style: none;
	      position: relative;}
        
nav ul li {display:inline-block;
           background-color:#304562;
           color:#ffffff}

nav a {display:block;
       padding:0 1em;
	     font-size:0.9em;
       font-family: "Verdana", sans-serif;
       text-align: justify;
   	   line-height: 3em;
	     text-decoration:none;}
       
nav ul ul {display: none;
	       position: absolute;}       
       
nav ul ul li {width:15em;
	            float:none;
	            display:list-item;
           	  position: relative;
              left: -5em;
}

nav ul ul ul li {position: relative;
	             top:-2.7em;
	             left: 15em;}
  nav{position:fixed;
	width:90%;}               
           
nav a:hover {background-color: #8291a4; }
nav ul li:hover > ul {display:inherit;}
	



